@charset "UTF-8";

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(248, 244, 244);
background-color: rgb(106, 172, 141);
}

#titulo {
    text-align: center;
    background-color: black;

}

.alinhado {
    text-align: center;
}

.p {
    text-align: center;
}
.link{
    text-decoration: none;
    color: aliceblue;
}
.link:hover{
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
.imagem{
    text-align: center;
}
